PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=day8

JWT_SECRET=your_access_token_secret_key_123
JWT_EXPIRY=1h
REFRESH_SECRET=your_refresh_token_secret_key_456
REFRESH_EXPIRY=7d

# Mail Config
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM="F8 Homework <your_email@gmail.com>"

# Frontend Config
FRONTEND_URL=http://localhost:5173

# Email Verification JWT
JWT_VERIFY_SECRET=your_verify_token_secret_key_789
JWT_VERIFY_EXPIRY=2h

# Google Drive Config
GOOGLE_DRIVE_CLIENT_ID=your_client_id
GOOGLE_DRIVE_CLIENT_SECRET=your_client_secret
GOOGLE_DRIVE_REFRESH_TOKEN=your_refresh_token
GOOGLE_DRIVE_DIR_ID=your_directory_id

# Admin Config
ADMIN_EMAIL=admin@example.com
